html,body {
    overflow-y: hidden;
}

body{
    position: relative;
    background-color: #EEE;
    font-family: 'Lato', sans-serif;
    color: #333;
    margin: 0px;
}

a {
    color: #E8210C;
}

#container {
    width:300px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

#videoholder {
}


#richtextholder {
    padding: 0px 10px;
    height:320px;
    overflow-y: auto;
}

video {
    width: 100% !important;
    height: auto !important;
}

#videodiv{
    position:relative;
    width:300px;
    height:180px;
}

#paused {
    display:none;
    width:300px;
    height:180px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
    font-size:50pt;
    color:#fff;
    line-height:150px;
    text-align: center;
}

#contentindicator{
    display: none;
    position:absolute;
    left:240px;
    top:160px;
    z-index: 1;
}


#timelineContainer{
    position: relative;
    height:40px;
    overflow-x:scroll;
}

#timelineContainer::-webkit-scrollbar{
    display:none;
}
#timelineDiv{
    position:absolute;
    padding-left:0px;
    margin:0px;
    width:5000px
}
.timelineEl {
    display:inline-block;
    height:20px;
    padding: 5px;
    border-right: #EEE 1px solid;
    white-space: nowrap;
    /*overflow-x:hidden;*/
    position:relative;
    color:#FFF;
}
.timelineEl .bg {
    background-color:#E8210C;
    z-index:1;
    width:0px;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
.timelineEl .con {
    position:relative;
    z-index:2;

}
.timelineLink {
    background-color:#EEE;
    display:inline-block;
    height:15px;
    padding: 5px;
    margin: 0px 3px;
}
.timelineLink.unclicked {
    color:#fff;
    background-color:#FA7E00;
}

.typeRich {
    /*background-color:#FFA849;*/
    background-color:#FA7E00;
}
.typeRich.currentEl {
    /*background-color:#FA7E00;*/
}

.typeRich.currentEl:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #FA7E00 transparent;
    display: block;
    width: 0;
    z-index: 30;
    margin-left: -10px;
    bottom: -9px;
    left: 50%;
}

.typeVid {
    background-color:#E8210C;
}

.typeVid.currentEl:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #FF967B transparent;
    display: block;
    width: 0;
    z-index: 30;
    margin-left: -10px;
    bottom: -9px;
    left: 50%;
}

.typeVid.currentEl.filled:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #E8210C transparent;
    display: block;
    width: 0;
    z-index: 30;
    margin-left: -10px;
    bottom: -9px;
    left: 50%;
}



.typeVid.currentEl {
    background-color:#FF967B;
}


#captionholder{
    position:relative;
    width:800px;
}
#caption {
    background-color:#fff;
    height:95px;
    width: 300px;
    padding: 0px 10px;
    padding-bottom:10px;
    box-sizing: border-box;
    left:0px;
    top:0px;
}

#help {
    display:none;
    background-color:#fff;
    margin:10px;
    padding: 10px;
    height:300px;
    overflow-y: auto;
}



#links {
    background-color:#fff;
    width: 300px;
    padding: 5px 10px;
    box-sizing: border-box;
    height:35px;
}

#prevcaption {
    position:absolute;
    background-color:#111;
    width: 300px;
    padding: 0px 10px;
    box-sizing: border-box;
    left:-300px;
    top:0px;
}

#nextcaption {
    position:absolute;
    background-color:#111;
    width: 300px;
    padding: 0px 10px;
    box-sizing: border-box;
    left:300px;
    top:0px;
}



#overlay {
    display:none;
    box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);

}
#overlaycontent{
    position:relative;
    box-sizing: border-box;
    top:40px;
    height:300px;
    /*margin:20px;*/
    padding:10px;
    background-color: rgba(50,50,50,1);
    overflow-y: auto;
    /*border: #f60 1px solid;*/
    border-top: #666 1px solid;
    border-bottom: #666 1px solid;
    /*border-radius:8px;*/
}

#title{
   /* background-color:#111;*/
    width:100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

h1 {
    font-size:16pt;
}

#navbar{
    color: #f60;
}

#playblocker {
    box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: rgba(0,0,0,0.9);
    text-align:center;

}
