html,body {
    overflow-y: hidden;
}

body{
    position: relative;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0px;
    data-enhance: 'false';
}

a {
    color: #f60;
}

#container {
    width:300px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;

    data-enhance: 'false';
}

video {
    width: 100% !important;
    height: auto !important;
}

#captionholder{
    position:relative;
    width:800px;
    height:150px;
}
#caption {
    position:absolute;
    background-color:#111;
    width: 300px;
    padding: 0px 10px;
    box-sizing: border-box;
    left:0px;
    top:0px;
}

#prevcaption {
    position:absolute;
    background-color:#111;
    width: 300px;
    padding: 0px 10px;
    box-sizing: border-box;
    left:-300px;
    top:0px;
}



#overlay {
    display:none;
    box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    
}
#overlaycontent{
    position:relative;
    box-sizing: border-box;
    margin:20px;
    height:80%;
    padding:5px;
    background-color: rgba(50,50,50,0.8);
    overflow-y: auto;
}

#title{
    background-color:#111;
    width:100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

h1 {
    font-size:20pt;
}

#navbar{
    color: #f60;
}
